extends layout

block content
  div(id='content')
    nav(id='menu')
      ul
        li(id='link-editor') Editor
        li(id='link-viewer') Viewer
    div(id='page')
      div(id='editor')
        div(id='three')
        div(id='console')
      div(id='viewer')
