doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/nav.js')
    script(src='/javascripts/model-example.js')
    script(src='/javascripts/editor.js')
    script(src='/javascripts/viewer.js')
    script(src='/javascripts/app.js')
  body
    block content

